<h1>Test Results</h1>
<br>
<h3>User Details</h3>
<br>
<p>Name : </p>
<p>Sex : </p>
<p>Age : </p>
<p>Address : </p>
<p>Contact : </p>
<p>Email : </p>
<br>
<h3>Test Scores</h3>
<br>
<p>Sensitivity : </p>
<p>Maturity : </p>
<p>Competency : </p>
<p>Total EQ Score : </p>
