<head>
	<title>Mind Carter - Login</title>
	<meta charset="utf-8">
	<meta name="viewport" width="device-width, initial-scale=1">
 <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="login.css">
	<link rel="shortcut icon" href="img/logo.png">
</head>
<body style="font-weight: bold;">
	<div class="container-fluid">
		<div class="row" style="padding: 10px 10px 10px 10px; background-color: #212121;">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 head">
				<div class="row">
					<div class="col-xs-5 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-2 col-lg-2 col-lg-offset-3">
						<img src="img/logo.png" style="width: 100%; max-height: 75px; max-width: 133px;">
					</div>
					<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
						<span class="header">
							<i>Personal Growth Program</i>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="background: url(img/bg.jpg); background-size: 100%; height: 100vh;">
			<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
				<br> <br>
				<center>
					<div class="head">
						<form>
							Phone number:
							<br>
							<input type="text" name="phno" class="inputfield" ng-model="user.phone">
							<br> <br>
							Password:
							<br> 
							<input type="password" id="password" name="pswrd" class="inputfield" ng-model="user.password">
							<br>
							<input type="checkbox" name="show" onchange="document.getElementById('password').type = this.checked ? 'text' : 'password'"> Show Password
							<br> <br>
							<input class="but hvr-grow-shadow" type="submit" name="submit" ng-click="login()" value="Log In">
						</form>
						Not a member? <a href="#/register">Sign up >></a>
					</div>
				</center>
			</div>
		</div>
	</div>

</body>
