<!DOCTYPE html>
<html>

<head>
    <title>Mind Carter - Register</title>
    <meta charset="utf-8">
    <meta name="viewport" width="device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="reg.css">
    <link rel="shortcut icon" href="img/logo.png">
</head>

<body style="font-weight: bold;">
    <div class="container-fluid">
        <div class="row" style="padding: 10px 10px 10px 10px; background-color: #212121;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 head">
                <div class="row">
                    <div class="col-xs-5 col-sm-2 col-sm-offset-3 col-md-2 col-md-offset-3 col-lg-2 col-lg-offset-3">
                        <img src="img/logo.png" style="width: 100%; max-height: 75px; max-width: 133px;">
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                        <span class="header">
                            <i>Personal Growth Program</i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="background: url(img/bg.jpg); background-size: 100%; height: 120%;">
            <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-3 col-lg-offset-4">
                <br>
                <br>
                <div class="head" style="font-weight: bold">
                    <form>
                        <center>All fields are mandatory.</center>
                        Name:
                        <br>
                        <input type="text" ng-model="newUser.name" name="name" class="inputfield" required>
                        <br> Password:
                        <br>
                        <input type="password" ng-model="newUser.password" id="password" name="pswrd" class="inputfield" required>
                        <br>
                        <input type="checkbox" name="show" onchange="document.getElementById('password').type = this.checked ? 'text' : 'password'"> Show Password
                        <br> Confirm Password:
                        <br>
                        <input type="password" id="password" name="conf_pswrd" class="inputfield" required>
                        <br> Age:
                        <br>
                        <input type="number" ng-model="newUser.age" name="age" class="inputfield" required>
                        <br> Sex:
                        <br>
                        <md-radio-group ng-model="newUser.sex">
                            <md-radio-button value="M" class="md-primary">Male</md-radio-button><md-radio-button value="F" class="md-primary">Female</md-radio-button><md-radio-button value="O" class="md-primary">Other</md-radio-button>
                        </md-radio-group>
                        E-mail:
                        <br>
                        <input type="email" ng-model="newUser.email" name="email" class="inputfield" required>
                        <br> Phone number:
                        <br>
                        <input type="number" name="phno" ng-model="newUser.phone" class="inputfield" required>
                        <br> Address:
                        <br>
                        <input type="textfield" ng-model="newUser.addr" name="address" class="inputfield" required>
                        <br>
                        <br>
                        <center>
                        <input class="but hvr-grow-shadow" type="submit" name="submit" ng-click="signup()" value="Register">
                        </center>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
