.head {
	background-color: #ffffff;
 	border-radius: 1%;
 	padding: 10px;
 	opacity: .7;
 	color: #333333;
}

.inputfield {
	max-width: 260px;
	width: 100%;
}

@media screen and (min-width: 0px) and (max-width: 320px) {
    .header {
    line-height: 20px;
    font-size: 15px;
    }
}

@media screen and (min-width: 320px) and (max-width: 360px) {
    .header {
      line-height: 25px;
      font-size: 20px;
  }
}

@media screen and (min-width: 360px) and (max-width: 430px) {
    .header {
      line-height: 35px;
      font-size: 20px;
  }
}

@media screen and (min-width: 430px) and (max-width: 450px) {
    .header {
      line-height: 35px;
      font-size: 25px;
  }
}

@media screen and (min-width: 450px) and (max-width: 610px) {
    .header {
      line-height: 35px;
      font-size: 22px;
  }
}

@media screen and (min-width: 610px) and (max-width: 670px) {
    .header {
      line-height: 70px;
      font-size: 24px;
  }
}

@media screen and (min-width: 670px) and (max-width: 767px) {
    .header {
      line-height: 70px;
      font-size: 25px;
  }
}

@media screen and (min-width: 767px) and (max-width: 990px) {
    .header {
      line-height: 50px;
      font-size: 25px;
  }
}

@media screen and (min-width: 990px) {
    .header {
      line-height: 70px;
      font-size: 30px;
  }
}

input[type=text], input[type=password] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #9e9e9e;
}
 
input[type=text]:focus, input[type=password]:focus {
  box-shadow: 0 0 5px #616161;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #757575;
}

.but {
  padding:7px 15px; 
  width: 100px;
  color: #fff;
  background-color: #333333; 
  font-weight:bold; 
  border:none; 
  border-radius:25px;
  opacity: 1 !important;
}

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
