<head>
	<title>Mind Carter - QA</title>
	<meta charset="utf-8">
	<meta name="viewport" width="device-width, initial-scale=1">
 <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="start.css">
	<link rel="shortcut icon" href="img/logo.png">

</head>
<body style="font-weight: bold;">
<div class="container-fluid">
	<div class="row" style="padding: 10px 10px 10px 10px; background-color: #558b2f;">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 head">
			<div class="row">
				<div class="col-xs-5 col-sm-2 col-sm-offset-3 col-md-2 col-md-offset-3 col-lg-2 col-lg-offset-3">
					<img src="img/logo.png" style="width: 100%; max-height: 75px; max-width: 133px;">
				</div>
				<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                    <span class="header">
                        <i>Personal Growth Program</i>
                    </span>
                </div>
			</div>
		</div>
	</div>
	<div class="row" style="background: url(img/bg4.jpg); background-size: 100%; height: 100%;">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
			<br> <br>
			<div class="quesbox" style="color: #795548;">
			<b>
				<center>
					<h3>Instructions</h3>
				</center>
				<ul>
					<li>You can choose one of "Emotional Intelligence" or "Personality" tests.</li>
					<br>
					<li>You can take the test only once.</li>
					<br>
					<li>Once you answer a question, click "Save & Next >>" to go to the next question.</li>
					<br>
					<li>Once you're ready to start, click the name of the test you wish to attend</li>
					<br>
					<li> If you do not wish to take the test now, Please Logout</li>
				</ul>
				<form>
				<center>
			</b>
				<!-- <md-button class="md-raised md-primary" style="opacity:1 !important" ng-click="startEQ()">Emotional Intelligence Test</md-button>
				<br>
				<md-button class="md-raised md-primary" ng-click="startPQ()">Personality Test</md-button>
				<br>
				<md-button class="md-raised md-warn" ng-click="signOut()">Logout</md-button> -->
				<input class="but hvr-grow-shadow" type="submit" name="submit" ng-click="startEQ()" value="Emotional Intelligence Test">
				<br><br>
				<input class="but hvr-grow-shadow" type="submit" name="submit" ng-click="startPQ()" value="Personality Test">
				<br><br>
				<input class="but hvr-grow-shadow" type="submit" name="submit" ng-click="signOut()" value="Logout">
				</center>
				</form>
			</div>
		</div>
	</div>
</div>

</body>
